@charset "UTF-8";

:root {
  --sewerbird-header-color: #4D6D4D;
  --sewerbird-text-color: #111;
  --sewerbird-link-color: #0b74A7;
}

.center{
	text-align: center;
}

nav { background-color: #3D3D3D; }

nav .brand { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #EDEDED;
            font-size: 32px;
            font-weight: 300; }

a.button { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
           color: #EDEDED; }

html { font-size: 15px; }

body { 
       font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
       background-color: #fffffa;
       color: #111111;
       counter-reset: sidenote-counter; }

h1 { font-weight: 400;
      color: var(--sewerbird-header-color);
     /*margin-top: 4rem;*/
     /*margin-bottom: 1.5rem;*/
     font-size: 3.2rem;
     line-height: 1; }

h2 { font-style: italic;
     font-weight: 400;
     color: var(--sewerbird-header-color);
     /*margin-top: 2.1rem;
     margin-bottom: 0;*/
     font-size: 2.2rem;
     line-height: 1; }

h3 { font-style: italic;
     font-weight: 400;
     font-size: 1.7rem;
     color: var(--sewerbird-header-color);
     /*margin-top: 2rem;
     margin-bottom: 0;*/
     line-height: 1; }

hr { display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0; }

p.subtitle { width: 100%;
             font-style: italic;
             color: #888;
             margin-top: 0rem;
             margin-bottom: 1rem;
             font-size: 2rem;
             display: block;
             line-height: 1; }

.card header h2 {
  color: var(--sewerbird-header-color);
  font-weight: 400;
  margin: 0em 0em 0em 0em;
  font-size: 1.8rem;
}
.card footer h3 {
  color: var(--sewerbird-header-color);
  font-size: 1rem;
}
.card footer p {
  color: var(--sewerbird-text-color);
  width: 100%;
  font-size: 1rem;
}
.card footer li {
  margin: 0px 0px 0em;
}
.card footer li a {
  color: var(--sewerbird-link-color);
  font-size: 1.25rem;
}

.card.featured {
  background-color: #EFD;
}
.card {
	margin: 0.3em;
  box-sizing: border-box;
  max-width: 350px;
  min-width: 350px;
}
.card.footer {
  width: 100%;
}
.danger { color: red; }
.button {
	background-color: #4D6D4D
}
.button:active {
	box-shadow: inset 0 0 0 99em rgba(255,255,255,0.5);
}
.featured_text {
	color: #0b0b0b;
}

.pagefooter {
    background-color: rgba(114, 135, 0, 0.44);
    padding-top: 5px;
    margin-top: 20px;
}

article { position: relative;
         margin-left: auto;
         margin-right: auto;
         padding-left: 2.5%;
         width: 97.5%;
         max-width: 800px;
          padding: 5rem 0rem; }

section { padding-top: 1rem;
          padding-bottom: 1rem; }

p, ol, ul { font-size: 1.4rem; }

p { line-height: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; }

ul { list-style-image: url( 'feather-bullet.svg' ) }

/* Sidenotes, margin notes, figures, captions */
img { max-width: 100%; }

.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -35%;
                         width: 30%;
                         margin-top: 0;
                         margin-bottom: 0;
                         font-size: 1.1rem;
                         line-height: 1.3;
                         vertical-align: baseline;
                         position: relative; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) " ";
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) " ";
                   top: -0.5rem; }

blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                                               min-width: 59%;
                                               text-align: left; }

blockquote { font-size: 1.4rem; }

blockquote p { margin-right: 40px; }

blockquote footer { font-size: 1.1rem;
                    text-align: right; }

.marginated section>ol, section>ul { width: 45%; }

section>ol, section>ul { -webkit-padding-start: 5%;
                         -webkit-padding-end: 5%; }

figure { padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
         -webkit-margin-start: 0;
         -webkit-margin-end: 0;
         margin: 0 0 3em 0; }

figcaption { float: right;
             clear: right;
             margin-top: 0;
             margin-bottom: 0;
             font-size: 1.1rem;
             line-height: 1.6;
             vertical-align: baseline;
             position: relative;
             max-width: 40%; }

figure.fullwidth figcaption { margin-right: 24%; }

.marginated p, table, figure, blockquote, blockquote footer, blockquote p, hr { width: 75%; }

div.fullwidth, table.fullwidth { width: 100%; }

div.table-wrapper { overflow-x: auto;
                    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; }

.sans { font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        letter-spacing: .03em; }

code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
       font-size: 1.0rem;
       line-height: 1.42; }

.sans > code { font-size: 1.2rem; }

h1 > code, h2 > code, h3 > code { font-size: 0.80em; }

.marginnote > code, .sidenote > code { font-size: 1rem; }

pre.code { font-size: 0.9rem;
           width: 52.5%;
           margin-left: 2.5%;
           overflow-x: auto; }

pre.code.fullwidth { width: 90%; }

.fullwidth { max-width: 90%;
             clear:both; }

span.newthought { font-variant: small-caps;
                  font-size: 1.2em; }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

.iframe-wrapper { position: relative;
                  padding-bottom: 56.25%; /* 16:9 */
                  padding-top: 25px;
                  height: 0; }

.iframe-wrapper iframe { position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%; }

@media (max-width: 760px) { body { width: 84%;
                                   padding-left: 8%;
                                   padding-right: 8%; }
                            p, footer { width: 100%; }
                            pre.code { width: 97%; }
                            section > ol { width: 90%; }
                            section > ul { width: 90%; }
                            figure { max-width: 90%; }
                            figcaption, figure.fullwidth figcaption { margin-right: 0%;
                                                                      max-width: none; }
                            blockquote { margin-left: 1.5em;
                                         margin-right: 0em; }
                            blockquote p, blockquote footer { width: 100%; }
                            label.margin-toggle:not(.sidenote-number) { display: inline; }
                            .sidenote, .marginnote { display: none; }
                            .margin-toggle:checked + .sidenote,
                            .margin-toggle:checked + .marginnote { display: block;
                                                                   float: left;
                                                                   left: 1rem;
                                                                   clear: both;
                                                                   width: 95%;
                                                                   margin: 1rem 2.5%;
                                                                   vertical-align: baseline;
                                                                   position: relative; }
                            label { cursor: pointer; }
                            div.table-wrapper, table { width: 85%; }
                            img { width: 100%; } }
