---
layout: default
---
<article class="marginated">
  <!-- Picture at Top, or Default Picture -->
  <div class="flex flex_center_justified">
    <span style="text-align:center">
      {% if page.bigpic %}
      <a href="/"><img src="{{page.bigpic}}" style="min-width: 251px; width: 251px; max-width:251px;"/></a>
      {% else %}
      <a href="/"><img src="/assets/siteLogo.svg" style="min-width: 251px; width: 251px; max-width:251px;"/></a>
      {% endif %}
    </span>
    <span style="flex-grow:1; flex-shrink:1">
      <h1>{{ page.title }}</h1>
      {% if page.tagline %}</h1>
      <p class="subtitle"> {{page.tagline}}</p>
      {% endif %}
    </span>
  </div>
  {{ content }}
</article>
