<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/site.css" />
    <link rel="stylesheet" href="/assets/monokai.css" />
    <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico">
    <link rel='mask-icon' href='/assets/siteSafari.svg' color='#3F3F3F'>
    <meta charset="utf-8"/>
  </head>
  <body>
    {{ content }}
    <footer class="center pagefooter">
      Handmade by Edward Miller &copy; 2010-{{ site.time | date: '%Y' }}
    </footer>
  </body>
</html>
