<html lang="en">
  <head>
  	<link rel="stylesheet" href="/assets/mypicnic.min.css" />
    <link rel="stylesheet" href="/assets/site.css" />
  </head>
  <body>
  	<nav>
  		<a href="/" class="brand">
  			<span>Sewerbird</span>
  		</a>
      <div class="menu">
        {% for page in site.pages %}
        {% if page.in_nav != null %}
        <a href="{{ BASE_PATH }}{{ page.url }}" class="button">{{page.title}}</a>
        {% endif %}
        {% endfor %}
      </div>
  	</nav>
    <br/><br/>
    {{ content }}
    <div class="center"><a href="#">Back To Top</a></div>
    <footer class="center pagefooter">
      Created &amp; Owned by Edward Miller &copy; {{ site.time | date: '%Y' }}
    </footer>
  </body>
</html>
